<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="conn" value="SqlServer,Data Source=119.29.227.184;Initial Catalog=homework;user id=sa;password=123@luo"/>
  </appSettings>
</configuration>